.landing {
    border: 1px solid lightgray;
    padding: 15px;
    h2, h3 {
        color: #444;
    }
    .counter {
        font-size: 20px;
        font-weight: bold;
        color: blue;
    }
    .image {
        width: 16px;
        height: 16px;
        background-image: url('tick.png')
    }
}